<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="persona" class="com.johimesa.beans.Persona" name="personaBean" autowire="byName" scope="singleton" lazy-init="true">
		
	</bean>
	
	<bean id="paiss" class="com.johimesa.beans.Pais">
		<property name="name" value="Perú"></property>
	</bean>
	
	<bean id="ciudad" class="com.johimesa.beans.Ciudad">
		<property name="name" value="Lima"></property>
	</bean>
	
</beans>
