<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- default-init-method="inicio" default-destroy-method="destruye"> esto para q afecte a todos los beans q tengan esos métodos en sus POJO -->

	<bean id="persona" class="com.johimesa.beans.Persona" autowire="byName" init-method="inicio" destroy-method="destruye">
		<property name="alias" value="johimesa"></property>
	</bean>
	
	<bean id="paiss" class="com.johimesa.beans.Pais">
		<property name="name" value="Perú"></property>
	</bean>
	
	<bean id="ciudad" class="com.johimesa.beans.Ciudad">
		<property name="name" value="Lima"></property>
	</bean>
	
</beans>
